version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: foodgram
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data/

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    environment:
      DJANGO_SECRET_KEY: "django-insecure-tl6c2r!qdu%45b!yn-xc!$!hxk(u%0044^+s_^o^(q=gl!%wq7"
    command: >
      sh -c "
      until nc -z db 5432; do echo 'Waiting for postgres...'; sleep 1; done;
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn foodgram.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - static_volume:/app/backend/foodgram/static
    depends_on:
      - db

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
      - frontend_build:/usr/share/nginx/html

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - frontend_build:/usr/share/nginx/html
      - static_volume:/var/backend_static
      - ./docs/:/usr/share/nginx/html/api/docs/
    depends_on:
      - frontend
      - backend

volumes:
  pgdata:
  static_volume:
  frontend_build: