name: Foodgram Backend CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    test_and_clean_with_flake8_and_mypy:
        runs-on: ubuntu-latest

        env:
          CI: true

        steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: '3.13'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r backend/requirements.txt
            pip install flake8
            pip install mypy

        - name: Run tests
          run: |
            cd backend/foodgram
            python manage.py test

        - name: Run flake8
          run: |
            flake8 backend --max-line-length=120 --exclude=venv,migrations

        - name: Run mypy
          run: |
            mypy backend

    build_and_push_docker_image:
        needs: test_and_clean_with_flake8_and_mypy

        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v2 

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v1

        - name: Log in to Docker Hub
          uses: docker/login-action@v1
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

        - name: Build and push Docker image
          uses: docker/build-push-action@v2
          with:
            context: ./backend
            file: ./backend/Dockerfile
            push: true
            tags: ${{ secrets.DOCKER_USERNAME }}/foodgram-backend:latest

